In [8]:
import pandas as pd
# Read the Excel file with a multi-level header
df = pd.read_excel(r"C:\My\Top-up Degree\Data Science\Data Science - Assignment\Data set\WHO\whs2023_annex1.xlsx", sheet_name="Annex 1-1", header=[0, 1])
# Drop the first row
df = df.drop(0)


# # Rename columns
# df = df.rename(columns={"Unnamed: 0": "Country", "Unnamed: 1": "Total population (000s)", "Unnamed: 2": "Male population (000s)", "Unnamed: 3": "Female population (000s)", "Unnamed: 4": "Life expectancy at birth (male)", "Unnamed: 5": "Life expectancy at birth (female)", "Unnamed: 6": "Life expectancy at birth (both sexes)", "Unnamed: 7": "Healthy life expectancy at birth (male)", "Unnamed: 8": "Healthy life expectancy at birth (female)", "Unnamed: 9": "Healthy life expectancy at birth (both sexes)", "3.1": "Proportion of births attended by skilled health personnel (%)", "Unnamed: 11": "Primary data (%)", "Unnamed: 12": "Year", "3.2": "Under-five mortality rate (per 1000 live births)", "Unnamed: 14": "Neonatal mortality rate (per 1000 live births)", "3.3": "New HIV infections (per 1000 uninfected population)", "Unnamed: 16": "Tuberculosis incidence (per 100 000 population)", "Unnamed: 17": "Malaria incidence (per 1000 population at risk)", # Drop the empty column
#                 #"": float,
#                 # Drop the column with mixed values
#                 #"Reported number of people requiring interventions against neglected tropical diseases": int,
#                 })

# # Create a dictionary mapping of the column names and data types
# data_types = {"Total population (000s)": int, 
#               "Male population (000s)": int, 
#               "Female population (000s)": int, 
#               "Life expectancy at birth (male)": float, 
#               "Life expectancy at birth (female)": float, 
#               "Life expectancy at birth (both sexes)": float, 
#               "Healthy life expectancy at birth (male)": float, 
#               "Healthy life expectancy at birth (female)": float, 
#               "Healthy life expectancy at birth (both sexes)": float, 
#               "Proportion of births attended by skilled health personneld (%)": float}

# # Convert data types using the dictionary mapping
# df = df.astype(data_types)


# # Replace dashes with zero
# df = df.replace("-", 0)

# # Filter out rows with dashes
# df = df.query("Malaria incidence (per 1000 population at risk) != '-'")

# Inspect the DataFrame
print(df.head())
# print(df.info())
# print(df.describe())

    Unnamed: 0_level_0       Unnamed: 1_level_0       Unnamed: 2_level_0  \
    Unnamed: 0_level_1 Total populationa (000s) Total populationa (000s)
1                  NaN                     Male                   Female
2  Countries and areas                     2021                      NaN
3          Afghanistan                    20255                    19845
4              Albania                     1426                     1429
5              Algeria                    22497                    21681

        Unnamed: 3_level_0                Unnamed: 4_level_0  \
  Total populationa (000s) Life expectancy at birthb (years)
1               Both sexes                              Male
2                      NaN                              2019
3                    40099                              63.3
4                     2855                              76.3
5                    44178                              76.2

                 Unnamed: 5_level_0                Unnamed: 6_level_0  \
  Life expectancy at birthb (years) Life expectancy at birthb (years)
1                            Female                        Both sexes
2                               NaN                               NaN
3                              63.2                              63.2
4                              79.9                                78
5                              78.1                              77.1

                         Unnamed: 7_level_0  \
  Healthy life expectancy at birthb (years)
1                                      Male
2                                      2019
3                                      54.7
4                                        68
5                                      66.7

                         Unnamed: 8_level_0  \
  Healthy life expectancy at birthb (years)
1                                    Female
2                                       NaN
3                                      53.2
4                                      70.3
5                                      66.1

                         Unnamed: 9_level_0  ...  \
  Healthy life expectancy at birthb (years)  ...
1                                Both sexes  ...
2                                       NaN  ...
3                                      53.9  ...
4                                      69.1  ...
5                                      66.4  ...

                                                             3.1  \
  Proportion of births attended by skilled health personneld (%)
1                                                NaN
2                                          2013–2022
3                                                 62
4                                                100
5                                                 99

                                                                    \
  Proportion of births attended by skilled health personneld (%).1
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN

                                                3.2  \
  Under-five mortality ratee (per 1000 live births)
1                                               NaN
2                                              2021
3                                                56
4                                                 9
5                                                22

                                                   \
  Neonatal mortality ratee (per 1000 live births)
1                                             NaN
2                                            2021
3                                              34
4                                               7
5                                              16

                                                   3.3  \
  New HIV infectionsf (per 1000 uninfected population)
1                                                NaN
2                                               2021
3                                               0.04
4                                               0.03
5                                               0.04

                                                    \
  Tuberculosis incidenceg (per 100 000 population)
1                                              NaN
2                                             2021
3                                              189
4                                               17
5                                               54

                                                    \
  Malaria incidenceh (per 1000 population at risk)
1                                              NaN
2                                             2021
3                                              6.3
4                                                -
5                                              0.0

                                                      \
  Malaria incidenceh (per 1000 population at risk).1
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN

                                                                                    \
  Hepatitis B surface antigen (HBsAg) prevalence among children under 5 yearsi (%)
1                                                NaN
2                                               2020
3                                               0.39
4                                               0.29
5                                               0.08


  Reported number of people requiring interventions against NTDsj
1                                                NaN
2                                               2021
3                                         14 367 281
4                                                 21
5                                              7 081

[5 rows x 21 columns]

In [20]:
import pandas as pd
# Read the Excel file with a multi-level header
df = pd.read_excel(r"C:\My\Top-up Degree\Data Science\Data Science - Assignment\Data set\WHO\whs2023_annex1.xlsx", sheet_name="Annex 1-1", header=[1, 2, 3, 4])

# Inspect the DataFrame
# print(df.head())

# Get the first level of the column header as an Index
col_level0 = df.columns.get_level_values(0)
col_level1 = df.columns.get_level_values(1)
col_level2 = df.columns.get_level_values(2)
col_level3 = df.columns.get_level_values(3)

# Split the first level by ';'
col_level0_split = col_level0.str.split(';')
col_level1_split = col_level1.str.split(';')
col_level2_split = col_level2.str.split(';')
col_level3_split = col_level3.str.split(';')

# Inspect the result
print(col_level0_split, "\n")
print(col_level1_split, "\n")
print(col_level2_split, "\n")
print(col_level3_split, "\n")

Index([                                                              ['Unnamed: 0_level_0'],
                                                               ['Total populationa (000s)'],
                                                               ['Total populationa (000s)'],
                                                               ['Total populationa (000s)'],
                                                      ['Life expectancy at birthb (years)'],
                                                      ['Life expectancy at birthb (years)'],
                                                      ['Life expectancy at birthb (years)'],
                                              ['Healthy life expectancy at birthb (years)'],
                                              ['Healthy life expectancy at birthb (years)'],
                                              ['Healthy life expectancy at birthb (years)'],
                                    ['Maternal mortality ratioc (per 100 000 live births)'],
                         ['Proportion of births attended by skilled health personneld (%)'],
                         ['Proportion of births attended by skilled health personneld (%)'],
                                      ['Under-five mortality ratee (per 1000 live births)'],
                                        ['Neonatal mortality ratee (per 1000 live births)'],
                                   ['New HIV infectionsf (per 1000 uninfected population)'],
                                       ['Tuberculosis incidenceg (per 100 000 population)'],
                                       ['Malaria incidenceh (per 1000 population at risk)'],
                                       ['Malaria incidenceh (per 1000 population at risk)'],
       ['Hepatitis B surface antigen (HBsAg) prevalence among children under 5 yearsi (%)'],
                        ['Reported number of people requiring interventions against NTDsj']],
      dtype='object')

Index([           ['Data type'], ['Comparable estimates'],
       ['Comparable estimates'], ['Comparable estimates'],
       ['Comparable estimates'], ['Comparable estimates'],
       ['Comparable estimates'], ['Comparable estimates'],
       ['Comparable estimates'], ['Comparable estimates'],
       ['Comparable estimates'],         ['Primary data'],
               ['Primary data'], ['Comparable estimates'],
       ['Comparable estimates'], ['Comparable estimates'],
       ['Comparable estimates'], ['Comparable estimates'],
       ['Comparable estimates'], ['Comparable estimates'],
               ['Primary data']],
      dtype='object')

Index([ ['Unnamed: 0_level_2'],                ['Male'],
                    ['Female'],          ['Both sexes'],
                      ['Male'],              ['Female'],
                ['Both sexes'],                ['Male'],
                    ['Female'],          ['Both sexes'],
       ['Unnamed: 10_level_2'], ['Unnamed: 11_level_2'],
       ['Unnamed: 12_level_2'], ['Unnamed: 13_level_2'],
       ['Unnamed: 14_level_2'], ['Unnamed: 15_level_2'],
       ['Unnamed: 16_level_2'], ['Unnamed: 17_level_2'],
       ['Unnamed: 18_level_2'], ['Unnamed: 19_level_2'],
       ['Unnamed: 20_level_2']],
      dtype='object')

Index([['Countries and areas'],                     nan,
        ['Unnamed: 2_level_3'],  ['Unnamed: 3_level_3'],
                           nan,  ['Unnamed: 5_level_3'],
        ['Unnamed: 6_level_3'],                     nan,
        ['Unnamed: 8_level_3'],  ['Unnamed: 9_level_3'],
                           nan,           ['2013–2022'],
                 ['2013–2022'],                     nan,
                           nan,                     nan,
                           nan,                     nan,
                           nan,                     nan,
                           nan],
      dtype='object')

In [32]:
import pandas as pd

# Read the Excel file with a multi-level header
file_path = r"C:\My\Top-up Degree\Data Science\Data Science - Assignment\Data set\WHO\whs2023_annex1.xlsx"
df = pd.read_excel(file_path, sheet_name="Annex 1-1", header=[1, 2, 3, 4])

# Drop the first row
df = df.drop(0)

# Combine MultiIndex levels into a single level using list comprehension
df.columns = ['_'.join(filter(None, map(str, col))) for col in df.columns]

# Rename the first column
df.rename(columns={'nan_nan_nan_nan': 'Country'}, inplace=True)

# Convert numeric columns to float type
numeric_cols = df.columns.difference(['Country'])
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Print the column names to check if 'Country' exists
print(df.columns)

# Drop the last row with NaN values
df = df.dropna(subset=['Country'])

# Inspect unique values in each column
for col in df.columns:
    unique_values = df[col].unique()
    print(f"{col}: {unique_values}")

# Inspect the result
print(df.head())

Index(['Unnamed: 0_level_0_Data type_Unnamed: 0_level_2_Countries and areas',
       'Total populationa (000s)_Comparable estimates_Male_2021',
       'Total populationa (000s)_Comparable estimates_Female_Unnamed: 2_level_3',
       'Total populationa (000s)_Comparable estimates_Both sexes_Unnamed: 3_level_3',
       'Life expectancy at birthb (years)_Comparable estimates_Male_2019',
       'Life expectancy at birthb (years)_Comparable estimates_Female_Unnamed: 5_level_3',
       'Life expectancy at birthb (years)_Comparable estimates_Both sexes_Unnamed: 6_level_3',
       'Healthy life expectancy at birthb (years)_Comparable estimates_Male_2019',
       'Healthy life expectancy at birthb (years)_Comparable estimates_Female_Unnamed: 8_level_3',
       'Healthy life expectancy at birthb (years)_Comparable estimates_Both sexes_Unnamed: 9_level_3',
       'Maternal mortality ratioc (per 100 000 live births)_Comparable estimates_Unnamed: 10_level_2_2020',
       'Proportion of births attended by skilled health personneld (%)_Primary data_Unnamed: 11_level_2_2013–2022',
       'Proportion of births attended by skilled health personneld (%)_Primary data_Unnamed: 12_level_2_2013–2022',
       'Under-five mortality ratee (per 1000 live births)_Comparable estimates_Unnamed: 13_level_2_2021',
       'Neonatal mortality ratee (per 1000 live births)_Comparable estimates_Unnamed: 14_level_2_2021',
       'New HIV infectionsf (per 1000 uninfected population)_Comparable estimates_Unnamed: 15_level_2_2021',
       'Tuberculosis incidenceg (per 100 000 population)_Comparable estimates_Unnamed: 16_level_2_2021',
       'Malaria incidenceh (per 1000 population at risk)_Comparable estimates_Unnamed: 17_level_2_2021',
       'Malaria incidenceh (per 1000 population at risk)_Comparable estimates_Unnamed: 18_level_2_2021',
       'Hepatitis B surface antigen (HBsAg) prevalence among children under 5 yearsi (%)_Comparable estimates_Unnamed: 19_level_2_2020',
       'Reported number of people requiring interventions against NTDsj_Primary data_Unnamed: 20_level_2_2021'],
      dtype='object')

KeyError: ['Country']

In [18]:
import pandas as pd
# Read the Excel file with a multi-level header
df = pd.read_excel(r"C:\My\Top-up Degree\Data Science\Data Science - Assignment\Data set\WHO\whs2023_annex1.xlsx", sheet_name="Annex 1-1", header=[1, 2, 3, 4])

df = df.rename(columns={"Unnamed: 0_level_0": "Country", "Unnamed: 1_level_0": "Population", "Unnamed: 4_level_0": "Life expectancy"})
df.columns = df.columns.droplevel([1, 2, 3])

display(df.head())

,Country,Total populationa (000s),Total populationa (000s),Total populationa (000s),Life expectancy at birthb (years),Life expectancy at birthb (years),Life expectancy at birthb (years),Healthy life expectancy at birthb (years),Healthy life expectancy at birthb (years),Healthy life expectancy at birthb (years),...,Proportion of births attended by skilled health personneld (%),Proportion of births attended by skilled health personneld (%),Under-five mortality ratee (per 1000 live births),Neonatal mortality ratee (per 1000 live births),New HIV infectionsf (per 1000 uninfected population),Tuberculosis incidenceg (per 100 000 population),Malaria incidenceh (per 1000 population at risk),Malaria incidenceh (per 1000 population at risk),Hepatitis B surface antigen (HBsAg) prevalence among children under 5 yearsi (%),Reported number of people requiring interventions against NTDsj
0,Afghanistan,20255,19845,40099.0,63.3,63.2,63.2,54.7,53.2,53.9,...,62,NaN,56,34,0.04,189.0,6.3,NaN,0.39,14 367 281
1,Albania,1426,1429,2855.0,76.3,79.9,78,68,70.3,69.1,...,100,NaN,9,7,0.03,17.0,-,NaN,0.29,21
2,Algeria,22497,21681,44178.0,76.2,78.1,77.1,66.7,66.1,66.4,...,99,NaN,22,16,0.04,54.0,0.0,NaN,0.08,7 081
3,Andorra,-,-,79.0,-,-,-,-,-,-,...,100,ak,3,1,-,2.9,-,NaN,0.02,0
4,Angola,17051,17452,34504.0,60.7,65.5,63.1,53.6,56.2,54.8,...,50,NaN,69,27,0.52,325.0,254.9,NaN,4.57,8 558 522

In [3]:
# Import libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Read the Excel file with a multi-level header
df = pd.read_excel(r"C:\My\Top-up Degree\Data Science\Data Science - Assignment\Data set\WHO\whs2023_annex1.xlsx", sheet_name="Annex 1-1", header=[1, 2, 3])

# Drop columns that aren't useful
df = df.drop(columns=['Unnamed: 0_level_0', 'Unnamed: 0_level_1', 'Unnamed: 0_level_2'])

# Drop rows with missing values
df = df.dropna()

# Create dummy variables for categorical variables
df = pd.get_dummies(df)

# Convert the DataFrame to NumPy array
X = df.values

# Scale the numerical variables using standardization
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

C:\Users\ziyan\AppData\Local\Temp\ipykernel_11820\2273432563.py:10: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df = df.drop(columns=['Unnamed: 0_level_0', 'Unnamed: 0_level_1', 'Unnamed: 0_level_2'])

KeyError: 'Unnamed: 0_level_1'

In [6]:
import pandas as pd
# Read the Excel file with a multi-level header
df = pd.read_excel(r"C:\My\Top-up Degree\Data Science\Data Science - Assignment\Data set\WHO\whs2023_annex1.xlsx", 
                   sheet_name="Annex 1-1", header=[1, 2, 3, 4])

df = df.rename(columns={"Unnamed: 0_level_0": "Country", "Unnamed: 1_level_0": "Population", "Unnamed: 4_level_0": "Life expectancy"})
df.columns = df.columns.droplevel([1, 2, 3])
display(df)

,Country,Total populationa (000s),Total populationa (000s),Total populationa (000s),Life expectancy at birthb (years),Life expectancy at birthb (years),Life expectancy at birthb (years),Healthy life expectancy at birthb (years),Healthy life expectancy at birthb (years),Healthy life expectancy at birthb (years),...,Proportion of births attended by skilled health personneld (%),Proportion of births attended by skilled health personneld (%),Under-five mortality ratee (per 1000 live births),Neonatal mortality ratee (per 1000 live births),New HIV infectionsf (per 1000 uninfected population),Tuberculosis incidenceg (per 100 000 population),Malaria incidenceh (per 1000 population at risk),Malaria incidenceh (per 1000 population at risk),Hepatitis B surface antigen (HBsAg) prevalence among children under 5 yearsi (%),Reported number of people requiring interventions against NTDsj
0,Afghanistan,20255,19845,40099.0,63.3,63.2,63.2,54.7,53.2,53.9,...,62,NaN,56,34,0.04,189.0,6.3,NaN,0.39,14 367 281
1,Albania,1426,1429,2855.0,76.3,79.9,78,68,70.3,69.1,...,100,NaN,9,7,0.03,17.0,-,NaN,0.29,21
2,Algeria,22497,21681,44178.0,76.2,78.1,77.1,66.7,66.1,66.4,...,99,NaN,22,16,0.04,54.0,0.0,NaN,0.08,7 081
3,Andorra,-,-,79.0,-,-,-,-,-,-,...,100,ak,3,1,-,2.9,-,NaN,0.02,0
4,Angola,17051,17452,34504.0,60.7,65.5,63.1,53.6,56.2,54.8,...,50,NaN,69,27,0.52,325.0,254.9,NaN,4.57,8 558 522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,European Region,451859,478950,930809.0,75.1,81.3,78.2,66.6,70,68.3,...,99,NaN,8,4,0.20,25.0,-,NaN,0.26,5 951 752
204,Eastern Mediterranean Region,392503,374038,766542.0,68.3,71.3,69.7,60.2,60.7,60.4,...,85,NaN,45,25,0.06,112.0,11.6,NaN,0.84,72 120 780
205,Western Pacific Region,980226,952584,1932809.0,74.8,80.8,77.7,67,70.2,68.6,...,97,NaN,12,6,0.06,98.0,1.9,NaN,0.3,72 372 509
206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,Global,3973370,3929291,7902660.0,70.8,75.9,73.3,62.5,64.9,63.7,...,86,NaN,38,18,0.19,134.0,59.2,NaN,0.94,1 653 289 348

In [5]:
print(df.dtypes)

Country                                                                              object
Total populationa (000s)                                                             object
Total populationa (000s)                                                             object
Total populationa (000s)                                                            float64
Life expectancy at birthb (years)                                                    object
Life expectancy at birthb (years)                                                    object
Life expectancy at birthb (years)                                                    object
Healthy life expectancy at birthb (years)                                            object
Healthy life expectancy at birthb (years)                                            object
Healthy life expectancy at birthb (years)                                            object
Maternal mortality ratioc (per 100 000 live births)                                  object
Proportion of births attended by skilled health personneld (%)                       object
Proportion of births attended by skilled health personneld (%)                       object
Under-five mortality ratee (per 1000 live births)                                    object
Neonatal mortality ratee (per 1000 live births)                                      object
New HIV infectionsf (per 1000 uninfected population)                                 object
Tuberculosis incidenceg (per 100 000 population)                                    float64
Malaria incidenceh (per 1000 population at risk)                                     object
Malaria incidenceh (per 1000 population at risk)                                    float64
Hepatitis B surface antigen (HBsAg) prevalence among children under 5 yearsi (%)     object
Reported number of people requiring interventions against NTDsj                      object
dtype: object

In [18]:
import pandas as pd
# Read the Excel file with a multi-level header
df = pd.read_excel(r"C:\My\Top-up Degree\Data Science\Data Science - Assignment\Data set\WHO\whs2023_annex1.xlsx", 
                   sheet_name="Annex 1-2", header=[1, 2, 3, 4])
display(df)

               Unnamed: 0_level_0  \
                        Data type
               Unnamed: 0_level_2
              Countries and areas
0                     Afghanistan
1                         Albania
2                         Algeria
3                         Andorra
4                          Angola
..                            ...
203               European Region
204  Eastern Mediterranean Region
205        Western Pacific Region
206                           NaN
207                        Global

    Probability of dying from any of CVD, cancer, diabetes, CRD between age 30 and exact age 70k (%)  \
                                                                                Comparable estimates
                                                                                  Unnamed: 1_level_2
                                                                                                2019
0                                                 35.3
1                                                 11.4
2                                                 13.9
3                                                    -
4                                                 22.2
..                                                 ...
203                                               16.3
204                                               24.5
205                                               15.6
206                                                NaN
207                                               17.8

    Suicide mortality ratek (per 100 000 population)  \
                                Comparable estimates
                                  Unnamed: 2_level_2
                                                2019
0                                                4.1
1                                                4.3
2                                                2.5
3                                                  -
4                                                6.1
..                                               ...
203                                             12.8
204                                              5.8
205                                              8.7
206                                              NaN
207                                              9.2

    Total alcohol per capita (≥ 15 years of age) consumptionl (litres of pure alcohol)  \
                                                                  Comparable estimates
                                                                    Unnamed: 3_level_2
                                                                                  2019
0                                                 <0.1
1                                                  5.1
2                                                  0.6
3                                                 11.1
4                                                  6.2
..                                                 ...
203                                                9.2
204                                                0.3
205                                                6.1
206                                                NaN
207                                                5.5

    Road traffic mortality ratek,ay (per 100 000 population)  \
                                        Comparable estimates
                                          Unnamed: 4_level_2
                                                        2019
0                                                 15.9
1                                                 11.7
2                                                 20.9
3                                                    -
4                                                 26.1
..                                                 ...
203                                                7.4
204                                               17.8
205                                               16.4
206                                                NaN
207                                               16.7

    Proportion of women of reproductive age who have their need for family planning satisfied with modern methodsm (%)  \
                                                                                                          Primary data
                                                                                                    Unnamed: 5_level_2
                                                                                                             2013–2021
0                                                 42.1
1                                                  6.3
2                                                 66.3
3                                                    -
4                                                 29.8
..                                                 ...
203                                               76.8
204                                               62.3
205                                               87.3
206                                                NaN
207                                               77.5

                        \

    Unnamed: 6_level_2
             2013–2021
0                   am
1                  NaN
2                   am
3                  NaN
4                  NaN
..                 ...
203                NaN
204                NaN
205                NaN
206                NaN
207                NaN

    Adolescent birth raten (per 1000 women aged 15–19 years)  \
                                                Primary data
                                          Unnamed: 7_level_2
                                                   2013–2021
0                                                 62.1
1                                                 13.2
2                                                 12.0
3                                                  0.5
4                                                162.7
..                                                 ...
203                                               13.1
204                                               45.8
205                                               16.9
206                                                NaN
207                                               41.9

    Adolescent birth raten (per 1000 women aged 10–14 years)  \
                                                Primary data
                                          Unnamed: 8_level_2
                                          Unnamed: 8_level_3
0                                                  0.2
1                                                  0.3
2                                                  0.0
3                                                  0.0
4                                                 10.7
..                                                 ...
203                                                0.1
204                                                1.1
205                                                0.3
206                                                NaN
207                                                1.5

    UHC: Service coverage indexo  \
            Comparable estimates
              Unnamed: 9_level_2
                            2021
0                             41
1                             64
2                             74
3                             79
4                             37
..                           ...
203                           81
204                           57
205                           79
206                          NaN
207                           68

    Population with household expenditures on health > 10% of total household expenditure or incomep (%)  \
                                                                                            Primary data
                                                                                     Unnamed: 10_level_2
                                                                                               2013–2021
0                                                 26.1
1                                                  8.9
2                                                    -
3                                                    -
4                                                 35.5
..                                                 ...
203                                               7.94
204                                              12.11
205                                               19.8
206                                                NaN
207                                              13.46

    Population with household expenditures on health > 25% of total household expenditure or incomep (%)  \
                                                                                            Primary data
                                                                                     Unnamed: 11_level_2
                                                                                               2013–2021
0                                                  8.0
1                                                  1.4
2                                                    -
3                                                    -
4                                                 12.5
..                                                 ...
203                                                1.3
204                                               2.23
205                                               5.26
206                                                NaN
207                                               3.77

    Age-standardized mortality rate attributed to household and ambient air pollutionq  (per 100 000 population)   \
                                                                                             Comparable estimates
                                                                                              Unnamed: 12_level_2
                                                                                                             2019
0                                                265.7
1                                                 92.5
2                                                 49.7
3                                                    -
4                                                142.8
..                                                 ...
203                                               44.5
204                                              136.0
205                                               94.0
206                                                NaN
207                                              103.6

    Mortality rate attributed to exposure to unsafe WASH servicesr (per 100 000 population)  \
                                                                       Comparable estimates
                                                                        Unnamed: 13_level_2
                                                                                       2019
0                                                 16.6
1                                                  3.2
2                                                  4.1
3                                                    -
4                                                 48.9
..                                                 ...
203                                                3.6
204                                               18.4
205                                                4.3
206                                                NaN
207                                               18.3

    Mortality rate from unintentional poisoningk (per 100 000 population)
                                                     Comparable estimates
                                                      Unnamed: 14_level_2
                                                                     2019
0                                                    1
1                                                  0.3
2                                                  0.7
3                                                    -
4                                                    2
..                                                 ...
203                                                1.1
204                                                1.1
205                                                1.4
206                                                NaN
207                                                1.1

[208 rows x 15 columns]

In [19]:
# Drop the rows that have NaN values in the country_and_areas column
df = df.dropna(subset=["country_and_areas"])

# Drop the columns that have more than 50% missing values
df = df.dropna(thresh=len(df)*0.5, axis=1)

# Replace the remaining missing values with the mean or median of the column
df = df.fillna(df.mean())

# Rename the columns to make them shorter and more descriptive
df = df.rename(columns={"Probability of dying from any of CVD, cancer, diabetes, CRD between age 30 and exact age 70k (%)": "cvd_cancer_death_rate",
                        "Suicide mortality ratek (per 100 000 population)": "suicide_rate",
                        "Total alcohol per capita (≥ 15 years of age) consumptionl (litres of pure alcohol)": "alcohol_consumption",
                        "Road traffic mortality ratek,ay (per 100 000 population)": "road_traffic_death_rate",
                        "Proportion of women of reproductive age who have their need for family planning satisfied with modern methodsm (%)": "family_planning_satisfaction",
                        "Adolescent birth raten (per 1000 women aged 15–19 years)": "adolescent_birth_rate_15_19",
                        "Adolescent birth raten (per 1000 women aged 10–14 years)": "adolescent_birth_rate_10_14",
                        "UHC: Service coverage indexo": "uhc_service_coverage_index",
                        "Population with household expenditures on health > 10% of total household expenditure or incomep (%)": "health_expenditure_over_10_percent",
                        "Population with household expenditures on health > 25% of total household expenditure or incomep (%)": "health_expenditure_over_25_percent",
                        "Age-standardized mortality rate attributed to household and ambient air pollutionq (per 100 000 population)": "air_pollution_death_rate",
                        "Mortality rate attributed to exposure to unsafe WASH servicesr (per 100 000 population)": "wash_services_death_rate",
                        "Mortality rate from unintentional poisoningk (per 100 000 population)": "poisoning_death_rate"})

# Check for outliers and remove or transform them if necessary
# You can use boxplots, histograms, or z-scores to identify outliers
# You can use methods such as winsorization, log transformation, or standardization to deal with outliers
display(df)

KeyError: ['country_and_areas']

In [4]:
df.describe()

,country_and_areas,cvd_cancer_death_rate,suicide_rate,Total alcohol per capita (≥ 15 years of age) consumptionl (litres of pure alcohol),road_traffic_death_rate,family_planning_satisfaction,adolescent_birth_rate_15_19,adolescent_birth_rate_10_14,uhc_service_coverage_index,health_expenditure_over_10_percent,health_expenditure_over_25_percent,Age-standardized mortality rate attributed to household and ambient air pollutionq (per 100 000 population),wash_services_death_rate,poisoning_death_rate
count,206,206,206,206,206,206,206,206,206,206,206,206,206,206.0
unique,206,130,118,103,146,110,164,41,60,105,61,182,129,39.0
top,Afghanistan,-,-,-,-,-,-,-,75,-,-,-,-,0.4
freq,1,15,15,9,15,90,23,32,8,66,66,15,15,21.0

In [10]:
import pandas as pd
# Read the Excel file with a multi-level header
df = pd.read_excel(r"C:\My\Top-up Degree\Data Science\Data Science - Assignment\Data set\WHO\whs2023_annex1.xlsx", 
                   sheet_name="Annex 1-2", header=[1, 2, 3, 4])

df = df.rename(columns={"Unnamed: 0_level_0": "country_and_areas"})
df.columns = df.columns.droplevel([1, 2, 3])
display(df)

,country_and_areas,"Probability of dying from any of CVD, cancer, diabetes, CRD between age 30 and exact age 70k (%)",Suicide mortality ratek (per 100 000 population),Total alcohol per capita (≥ 15 years of age) consumptionl (litres of pure alcohol),"Road traffic mortality ratek,ay (per 100 000 population)",Proportion of women of reproductive age who have their need for family planning satisfied with modern methodsm (%),Proportion of women of reproductive age who have their need for family planning satisfied with modern methodsm (%),Adolescent birth raten (per 1000 women aged 15–19 years),Adolescent birth raten (per 1000 women aged 10–14 years),UHC: Service coverage indexo,Population with household expenditures on health > 10% of total household expenditure or incomep (%),Population with household expenditures on health > 25% of total household expenditure or incomep (%),Age-standardized mortality rate attributed to household and ambient air pollutionq (per 100 000 population),Mortality rate attributed to exposure to unsafe WASH servicesr (per 100 000 population),Mortality rate from unintentional poisoningk (per 100 000 population)
0,Afghanistan,35.3,4.1,<0.1,15.9,42.1,am,62.1,0.2,41,26.1,8.0,265.7,16.6,1
1,Albania,11.4,4.3,5.1,11.7,6.3,NaN,13.2,0.3,64,8.9,1.4,92.5,3.2,0.3
2,Algeria,13.9,2.5,0.6,20.9,66.3,am,12.0,0.0,74,-,-,49.7,4.1,0.7
3,Andorra,-,-,11.1,-,-,NaN,0.5,0.0,79,-,-,-,-,-
4,Angola,22.2,6.1,6.2,26.1,29.8,NaN,162.7,10.7,37,35.5,12.5,142.8,48.9,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,European Region,16.3,12.8,9.2,7.4,76.8,NaN,13.1,0.1,81,7.94,1.3,44.5,3.6,1.1
204,Eastern Mediterranean Region,24.5,5.8,0.3,17.8,62.3,NaN,45.8,1.1,57,12.11,2.23,136.0,18.4,1.1
205,Western Pacific Region,15.6,8.7,6.1,16.4,87.3,NaN,16.9,0.3,79,19.8,5.26,94.0,4.3,1.4
206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,Global,17.8,9.2,5.5,16.7,77.5,NaN,41.9,1.5,68,13.46,3.77,103.6,18.3,1.1

In [2]:
import pandas as pd
# Read the Excel file with a multi-level header
df = pd.read_excel(r"C:\My\Top-up Degree\Data Science\Data Science - Assignment\Data set\WHO\whs2023_annex1.xlsx", 
                   sheet_name="Annex 1-2", header=[1, 2, 3, 4])

df.dtypes

df = df.rename(columns={"Unnamed: 0_level_0": "country_and_areas"})
df.columns = df.columns.droplevel([1, 2, 3])

# Drop the rows that have NaN values in the country_and_areas column
df = df.dropna(subset=["country_and_areas"])

# Drop the columns that have more than 50% missing values
df = df.dropna(thresh=len(df)*0.5, axis=1)

# Replace the remaining missing values with the mean or median of the column
df = df.fillna(df.mean())

# Rename the columns to make them shorter and more descriptive
df = df.rename(columns={"Probability of dying from any of CVD, cancer, diabetes, CRD between age 30 and exact age 70k (%)": "cvd_cancer_death_rate",
                        "Suicide mortality ratek (per 100 000 population)": "suicide_rate",
                        "Total alcohol per capita (≥ 15 years of age) consumptionl (litres of pure alcohol)": "alcohol_consumption",
                        "Road traffic mortality ratek,ay (per 100 000 population)": "road_traffic_death_rate",
                        "Proportion of women of reproductive age who have their need for family planning satisfied with modern methodsm (%)": "family_planning_satisfaction",
                        "Adolescent birth raten (per 1000 women aged 15–19 years)": "adolescent_birth_rate_15_19",
                        "Adolescent birth raten (per 1000 women aged 10–14 years)": "adolescent_birth_rate_10_14",
                        "UHC: Service coverage indexo": "uhc_service_coverage_index",
                        "Population with household expenditures on health > 10% of total household expenditure or incomep (%)": "health_expenditure_over_10_percent",
                        "Population with household expenditures on health > 25% of total household expenditure or incomep (%)": "health_expenditure_over_25_percent",
                        "Age-standardized mortality rate attributed to household and ambient air pollutionq  (per 100 000 population) ": "air_pollution_death_rate",
                        "Mortality rate attributed to exposure to unsafe WASH servicesr (per 100 000 population)": "wash_services_death_rate",
                        "Mortality rate from unintentional poisoningk (per 100 000 population)": "poisoning_death_rate"})

# Check for outliers and remove or transform them if necessary
# You can use boxplots, histograms, or z-scores to identify outliers
# You can use methods such as winsorization, log transformation, or standardization to deal with outliers
# display(df)
df.dtypes

C:\Users\ziyan\AppData\Local\Temp\ipykernel_9072\1376035441.py:18: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df.fillna(df.mean())

country_and_areas                     object
cvd_cancer_death_rate                 object
suicide_rate                          object
alcohol_consumption                   object
road_traffic_death_rate               object
family_planning_satisfaction          object
adolescent_birth_rate_15_19           object
adolescent_birth_rate_10_14           object
uhc_service_coverage_index            object
health_expenditure_over_10_percent    object
health_expenditure_over_25_percent    object
air_pollution_death_rate              object
wash_services_death_rate              object
poisoning_death_rate                  object
dtype: object

In [30]:
display(df)

,country_and_areas,cvd_cancer_death_rate,suicide_rate,alcohol_consumption,road_traffic_death_rate,family_planning_satisfaction,adolescent_birth_rate_15_19,adolescent_birth_rate_10_14,uhc_service_coverage_index,health_expenditure_over_10_percent,health_expenditure_over_25_percent,air_pollution_death_rate,wash_services_death_rate,poisoning_death_rate
0,Afghanistan,35.3,4.1,<0.1,15.9,42.1,62.1,0.2,41,26.1,8.0,265.7,16.6,1
1,Albania,11.4,4.3,5.1,11.7,6.3,13.2,0.3,64,8.9,1.4,92.5,3.2,0.3
2,Algeria,13.9,2.5,0.6,20.9,66.3,12.0,0.0,74,-,-,49.7,4.1,0.7
3,Andorra,-,-,11.1,-,-,0.5,0.0,79,-,-,-,-,-
4,Angola,22.2,6.1,6.2,26.1,29.8,162.7,10.7,37,35.5,12.5,142.8,48.9,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,South-East Asia Region,21.6,10.1,3.8,15.8,77.7,25.2,0.5,62,16.14,5.89,132.8,29.6,0.3
203,European Region,16.3,12.8,9.2,7.4,76.8,13.1,0.1,81,7.94,1.3,44.5,3.6,1.1
204,Eastern Mediterranean Region,24.5,5.8,0.3,17.8,62.3,45.8,1.1,57,12.11,2.23,136.0,18.4,1.1
205,Western Pacific Region,15.6,8.7,6.1,16.4,87.3,16.9,0.3,79,19.8,5.26,94.0,4.3,1.4
207,Global,17.8,9.2,5.5,16.7,77.5,41.9,1.5,68,13.46,3.77,103.6,18.3,1.1

In [3]:
# Function to convert columns to numeric and handle special values
def convert_to_numeric(value):
    if isinstance(value, str):
        # Remove special characters and convert to numeric
        value = pd.to_numeric(value.replace('<', '').replace('>', '').replace('%', ''), errors='coerce')
    return value

# Convert all columns (except 'country_and_areas') to numeric
columns_to_convert = df.columns.drop('country_and_areas')
df[columns_to_convert] = df[columns_to_convert].applymap(convert_to_numeric)

# Display the preprocessed DataFrame
display(df)

,country_and_areas,cvd_cancer_death_rate,suicide_rate,alcohol_consumption,road_traffic_death_rate,family_planning_satisfaction,adolescent_birth_rate_15_19,adolescent_birth_rate_10_14,uhc_service_coverage_index,health_expenditure_over_10_percent,health_expenditure_over_25_percent,air_pollution_death_rate,wash_services_death_rate,poisoning_death_rate
0,Afghanistan,35.3,4.1,0.1,15.9,42.1,62.1,0.2,41.0,26.10,8.00,265.7,16.6,1.0
1,Albania,11.4,4.3,5.1,11.7,6.3,13.2,0.3,64.0,8.90,1.40,92.5,3.2,0.3
2,Algeria,13.9,2.5,0.6,20.9,66.3,12.0,0.0,74.0,NaN,NaN,49.7,4.1,0.7
3,Andorra,NaN,NaN,11.1,NaN,NaN,0.5,0.0,79.0,NaN,NaN,NaN,NaN,NaN
4,Angola,22.2,6.1,6.2,26.1,29.8,162.7,10.7,37.0,35.50,12.50,142.8,48.9,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,South-East Asia Region,21.6,10.1,3.8,15.8,77.7,25.2,0.5,62.0,16.14,5.89,132.8,29.6,0.3
203,European Region,16.3,12.8,9.2,7.4,76.8,13.1,0.1,81.0,7.94,1.30,44.5,3.6,1.1
204,Eastern Mediterranean Region,24.5,5.8,0.3,17.8,62.3,45.8,1.1,57.0,12.11,2.23,136.0,18.4,1.1
205,Western Pacific Region,15.6,8.7,6.1,16.4,87.3,16.9,0.3,79.0,19.80,5.26,94.0,4.3,1.4
207,Global,17.8,9.2,5.5,16.7,77.5,41.9,1.5,68.0,13.46,3.77,103.6,18.3,1.1

In [33]:
df.dtypes

country_and_areas                      object
cvd_cancer_death_rate                 float64
suicide_rate                          float64
alcohol_consumption                   float64
road_traffic_death_rate               float64
family_planning_satisfaction          float64
adolescent_birth_rate_15_19           float64
adolescent_birth_rate_10_14           float64
uhc_service_coverage_index            float64
health_expenditure_over_10_percent    float64
health_expenditure_over_25_percent    float64
air_pollution_death_rate              float64
wash_services_death_rate              float64
poisoning_death_rate                  float64
dtype: object

In [36]:
display(df)

,country_and_areas,cvd_cancer_death_rate,suicide_rate,alcohol_consumption,road_traffic_death_rate,family_planning_satisfaction,adolescent_birth_rate_15_19,adolescent_birth_rate_10_14,uhc_service_coverage_index,health_expenditure_over_10_percent,health_expenditure_over_25_percent,air_pollution_death_rate,wash_services_death_rate,poisoning_death_rate
0,Afghanistan,35.3,4.1,0.1,15.9,42.1,62.1,0.2,41.0,26.10,8.00,265.7,16.6,1.0
1,Albania,11.4,4.3,5.1,11.7,6.3,13.2,0.3,64.0,8.90,1.40,92.5,3.2,0.3
2,Algeria,13.9,2.5,0.6,20.9,66.3,12.0,0.0,74.0,NaN,NaN,49.7,4.1,0.7
3,Andorra,NaN,NaN,11.1,NaN,NaN,0.5,0.0,79.0,NaN,NaN,NaN,NaN,NaN
4,Angola,22.2,6.1,6.2,26.1,29.8,162.7,10.7,37.0,35.50,12.50,142.8,48.9,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,South-East Asia Region,21.6,10.1,3.8,15.8,77.7,25.2,0.5,62.0,16.14,5.89,132.8,29.6,0.3
203,European Region,16.3,12.8,9.2,7.4,76.8,13.1,0.1,81.0,7.94,1.30,44.5,3.6,1.1
204,Eastern Mediterranean Region,24.5,5.8,0.3,17.8,62.3,45.8,1.1,57.0,12.11,2.23,136.0,18.4,1.1
205,Western Pacific Region,15.6,8.7,6.1,16.4,87.3,16.9,0.3,79.0,19.80,5.26,94.0,4.3,1.4
207,Global,17.8,9.2,5.5,16.7,77.5,41.9,1.5,68.0,13.46,3.77,103.6,18.3,1.1

In [4]:
# Check for missing values
print(df.isnull().sum())

country_and_areas                      0
cvd_cancer_death_rate                 15
suicide_rate                          15
alcohol_consumption                    9
road_traffic_death_rate               15
family_planning_satisfaction          90
adolescent_birth_rate_15_19           23
adolescent_birth_rate_10_14           32
uhc_service_coverage_index             4
health_expenditure_over_10_percent    66
health_expenditure_over_25_percent    66
air_pollution_death_rate              15
wash_services_death_rate              15
poisoning_death_rate                  15
dtype: int64